
		nav{

			display: block;
			width: 100%;
			position: absolute;
			z-index: 0;
			top: -11.9px;
			text-align: center;
			transition: top 1s;
		}
		
		nav ul{
			margin: 0;
			padding: 0;
			background-color: transparent;

		}
		nav ul li{
			display: inline-block;		
			
		}
		nav ul li a{
			display: inline-block;/*para que respete el padding*/	
			text-decoration: none;
			font-size: 25px;
			padding: 10px;

		}
	

		nav ul li i{
			display: block;
			color: rgb(244, 184, 239);
			width:45px;
			padding:15px;
			border-radius: 50%;
			
		}

		nav ul li span.textoMenu {
			display: block;
			font-size: 0.5em;
			text-align: center;
			padding-top:7px;
		}
		
		nav ul li a:hover i {
			box-shadow:0px 0px 0px 0px rgba(171, 73, 73, 0.6);
			opacity: 100;
			

		}
	